/* Google Fonts font */
@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");
h1, h2, h3, h4, h5, h6, p {
  font-weight: 300;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base document style */
body {
  background-color: var(--color-bg);
  font-family: var(--font-primary);
  color: var(--color-text);
  padding-top: 106px;
}
@media (min-width: 1024px) {
  body {
    padding-top: 68px;
  }
}

/* Tokens */
:root {
  --color-bg: #FBF5E7;
  --color-bg-inverse: #3949C9;
  --color-text: #3949C9;
  --color-text-muted: #575757;
  --color-text-inverse: #FBF5E7;
  --color-border-inverse: #3949C9;
  --font-primary: "Host Grotesk", sans-serif;
  --border-radius-pill: 999px;
  --spacing-sm: 0.5rem; /* 8px */
  --spacing-md: 1rem; /* 16px */
  --spacing-lg: 1.5rem; /* 24px */
  --spacing-xl: 2.5rem; /* 40px */
}

/* Nav */
.navbar {
  background-color: var(--color-bg);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar-expand-lg {
  padding-bottom: 0;
}

.nav-link {
  color: var(--color-text);
  text-align: center;
}
.nav-link:hover {
  text-decoration: underline;
  color: var(--color-text);
}

.navbar-button {
  width: 100%;
  border-radius: 0 !important;
  margin-top: var(--spacing-sm);
}

.navbar-toggler {
  padding: 0;
  border: none;
}
.navbar-toggler:focus {
  border: none;
  box-shadow: none;
}

@media (min-width: 992px) {
  .navbar {
    width: 100%;
  }
  .navbar-expand-lg {
    padding-bottom: var(--bs-navbar-padding-y);
  }
  .navbar-button {
    width: auto;
    border-radius: var(--border-radius-pill) !important;
    margin-right: 16px;
  }
}
/* Footer */
.footer {
  background-color: var(--color-bg-inverse);
  padding: var(--spacing-lg) 0;
}

.footer-logo {
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: var(--spacing-md);
}
.footer-content p {
  color: var(--color-text-inverse);
  margin-top: var(--spacing-md);
  text-align: center;
  margin-bottom: 0;
}

.social-icons {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-md);
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .footer .container-fluid {
    display: flex;
    direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .footer-logo {
    width: 60%;
  }
  .footer-content {
    align-items: flex-end;
    padding-top: 0;
  }
  .footer-content p {
    text-align: right;
  }
}
/* Button Primary */
.btn-primary {
  background-color: var(--color-bg-inverse);
  color: var(--color-text-inverse);
  font-family: var(--font-primary);
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--border-radius-pill);
  border: solid 2px var(--color-border-inverse);
  text-wrap: nowrap;
}
.btn-primary:hover {
  background-color: var(--color-bg);
  color: var(--color-text);
}

.artist-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: transparent;
  border: none;
  color: var(--color-text);
}
.artist-card img {
  width: 100%;
  height: auto;
}
.artist-card-description {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.artist-card-description h3 {
  margin-bottom: 0;
}
.artist-card-description p {
  margin-bottom: 0;
}
.artist-card--rounded .artist-card-description {
  align-items: center;
  text-align: center;
}
.artist-card--square .artist-card-description {
  align-items: flex-start;
}

.artists-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-lg);
}
@media (min-width: 1024px) {
  .artists-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.hero {
  background-image: url(../assets/home-hero-image.png);
  height: 80vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-content {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  color: var(--color-text-inverse);
}

.artists-section {
  padding: var(--spacing-lg) 0;
}
.artists-section h2 {
  margin-bottom: var(--spacing-lg);
}
@media (min-width: 1024px) {
  .artists-section {
    padding: var(--spacing-xl) 0;
  }
}

.about-section {
  padding: var(--spacing-lg) 0;
}
.about-section h2 {
  margin-bottom: var(--spacing-lg);
}
@media (min-width: 1024px) {
  .about-section {
    padding: var(--spacing-xl) 0;
  }
}

.visual-section img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
@media (min-width: 1024px) {
  .visual-section img {
    height: 400px;
  }
}

.experiences-section {
  padding: var(--spacing-lg) 0;
}
.experiences-section h2 {
  margin-bottom: var(--spacing-lg);
}
@media (min-width: 1024px) {
  .experiences-section {
    padding: var(--spacing-xl) 0;
  }
}

.experiences-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-md);
  grid-template-areas: "music food" "art chill";
}
.experiences-grid img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.experiences-grid p {
  margin-top: 8px;
}
@media (min-width: 1024px) {
  .experiences-grid {
    gap: var(--spacing-lg);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "music food . ." ". art art chill";
  }
  .experiences-grid img {
    aspect-ratio: auto;
  }
}

.experience-item--music {
  grid-area: music;
}

.experience-item--food {
  grid-area: food;
}

.experience-item--art {
  grid-area: art;
}

.experience-item--chill {
  grid-area: chill;
}

.artists-intro {
  padding: var(--spacing-lg) 0;
}
@media (min-width: 1024px) {
  .artists-intro {
    padding: var(--spacing-xl) 0;
  }
}

/*# sourceMappingURL=styles.css.map */
