/* Button Primary */

.btn-primary {
    background-color: var(--color-bg-inverse);
    color: var(--color-text-inverse);
    font-family: var(--font-primary);
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-radius-pill); 
    border: solid 2px var(--color-border-inverse);
    text-wrap: nowrap;

    &:hover {
        background-color: var(--color-bg);
        color: var(--color-text);
    }
}