// Card

.artist-card{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: transparent;
    border: none;
    color: var(--color-text);

    img {
        width: 100%;
        height: auto;
    }

    &-description{
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        h3{
            margin-bottom: 0;
        }

        p{
            margin-bottom: 0;
        }
    }

    &--rounded{
        .artist-card-description{
            align-items: center;
            text-align: center;
        }
    }

    &--square{
        .artist-card-description{
            align-items: flex-start;
        }
    }
}


// Card Grid

.artists-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-lg);

    @media (min-width: 1024px){
        grid-template-columns: repeat(4, 1fr);
    }
}