/* Nav */

.navbar {
    background-color: var(--color-bg);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar-expand-lg{
    padding-bottom: 0;
}

.nav-link {
    color: var(--color-text);
    text-align: center;

    &:hover{
        text-decoration: underline;
        color: var(--color-text);
    }
}

.navbar-button{
    width: 100%;
    border-radius: 0 !important;
    margin-top: var(--spacing-sm);
}

.navbar-toggler {
    padding: 0;
    border: none;

    &:focus{
        border: none;
        box-shadow: none;
    }
}

@media (min-width: 992px){
    .navbar {
        width: 100%;
    }

    .navbar-expand-lg{
        padding-bottom: var(--bs-navbar-padding-y);
    }

    .navbar-button{
        width: auto;
        border-radius: var(--border-radius-pill) !important;
        margin-right: 16px;
    }
}