// Info

.info-row {
    padding: var(--spacing-lg) 0;
    border-bottom: 1px solid var(--color-border-inverse);

    &--first {
        padding-top: 0;
    }

    &--last {
        border-bottom: none;
        padding-bottom: 0;
    }

    img{
        width: 100%;
        height: auto;
        }
}

.info-faq {
    padding: var(--spacing-sm) 0;
}