/* Tokens */

:root {
    --color-bg-beige: #FBF5E7;
    --color-bg-orange: #EA3700;
    --color-bg-pink: #FCBAEE;
    --color-text: #723300;
    --color-text-inverse: #FBF5E7;
    --color-border-orange: #EA3700;
    --color-border-brown:  #723300;
    --font-primary: "Host Grotesk", sans-serif;
    --border-radius-pill: 999px;
    --spacing-sm: 0.5rem; /* 8px */
    --spacing-md: 1rem; /* 16px */
    --spacing-lg: 1.5rem; /* 24px */
    --spacing-xl: 2.5rem; /* 40px */
}