/* Tokens */

:root {
    --color-bg: #FBF5E7;
    --color-bg-inverse: #3949C9;
    --color-text: #3949C9;
    --color-text-muted: #575757;
    --color-text-inverse: #FBF5E7;
    --color-border-inverse: #3949C9;
    --font-primary: "Host Grotesk", sans-serif;
    --border-radius-pill: 999px;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
}